<section waypoint class="lets-chat sec-md">
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-5 offset-lg-1">
                <h2>Let's chat!</h2>
                <p>I have the experience and skills needed to help you meet your product’s goals. Let's build the next great thing together! Reach out through email, LinkedIn, or follow me on Bluesky.</p>
                <div class="social-buttons">
                    <a class="social-button email" href="mailto:jelder23@gmail.com" target="_blank">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/in/jameselderdev" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a class="social-button bluesky" href="https://bsky.app/profile/lostleftsock.bsky.social" target="_blank">
                        <img src="content/images/bluesky.svg" alt="Bluesky Logo" width="50%">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="horz-divider"></div>
<a id="chat"></a>
<footer id="main-footer">
    <p><span class="copyright">Copyright &copy; All rights reserved </span><span class="dashes">--</span><span class="name"> Designed &amp; Developed by James Elder</span></p>
</footer>
