<section waypoint class="hero">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col offset-lg-1 offset-xl-2">
                <div class="hero-text">
                    <h1>
                        <span class="first">User Experience.</span>
                        <span class="second">Product.</span>
                        <span class="third">Design.</span>
                    </h1>
                    <p>My passion is creating modern and engaging experiences for people on all devices. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dashed-lines-container">
        <div class="dashed-lines">
            <div trace-line offset-timing="100" class="svg-wrapper" id="red-line">
                <svg width="3001" height="348" viewBox="0 0 3001 348" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m 2999.04,260 c 0,0 -61,50.287 -124.5,-5 -63.5,-55.287 -190.5,-52.629 -256.5,-17.5 -66,35.129 -154.5,82.5 -198,25.5 C 2376.54,206 2324,132 2235,181 2146,230 2123.73,51.6984 2075.06,17.5348 2012.59,-26.3035 1898.66,14.0476 1841.2,174.456 1816.11,244.493 1695.29,360.271 1533.39,231.247 1448.01,163.203 1239.57,405.697 1088.16,333.37 992.223,287.539 996.187,267.206 909.772,250.177 817.537,232 774.537,317.5 705.037,333.37 c -69.5,15.87 -113.35,0 -153.5,-50.37 -40.15,-50.37 -132,-57 -177,-32 -45,25 -109.5,69.5 -189,41.5 -79.5,-28 -118,-42.323 -184.00004,-41.5" stroke="#DC312F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5" />
                    <path class="mask" d="m 2999.04,260 c 0,0 -61,50.287 -124.5,-5 -63.5,-55.287 -190.5,-52.629 -256.5,-17.5 -66,35.129 -154.5,82.5 -198,25.5 C 2376.54,206 2324,132 2235,181 2146,230 2123.73,51.6984 2075.06,17.5348 2012.59,-26.3035 1898.66,14.0476 1841.2,174.456 1816.11,244.493 1695.29,360.271 1533.39,231.247 1448.01,163.203 1239.57,405.697 1088.16,333.37 992.223,287.539 996.187,267.206 909.772,250.177 817.537,232 774.537,317.5 705.037,333.37 c -69.5,15.87 -113.35,0 -153.5,-50.37 -40.15,-50.37 -132,-57 -177,-32 -45,25 -109.5,69.5 -189,41.5 -79.5,-28 -118,-42.323 -184.00004,-41.5" stroke="#FFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5" />
                </svg>
            </div>
            <div trace-line offset-timing="200" class="svg-wrapper" id="green-line">
                <svg width="3002" height="380" viewBox="0 0 3002 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="m 3001,300.5 c -37,0 -118.23,-88.89 -217.5,-87.5 -102.9,1.441 -141.5,39 -161,53 -19.5,14 -115,90.073 -188.5,-2.5 -73.5,-92.573 -123.5,-147.5 -195,-99 -71.5,48.5 -99.82,-99.2102 -156.5,-146 -78.72,-64.9851 -209.88,71.2197 -284.3,174.755 -49.02,68.193 -126.87,150.324 -262.74,17.421 C 1450.53,127.595 1243.45,407.374 1101,334 997.602,280.739 1014.92,253 936,253 833.602,253 773.499,379 693,379 c -80.5,0 -95,-43.5 -124,-93.5 -29,-50 -142.5,-72 -204.5,-34 -62,38 -125.5,46 -176.5,29.5 C 137,264.5 66.9999,249 0.999953,249" stroke="#78b301" stroke-width="1.99966" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5, 5" />
                    <path class="mask" d="m 3001,300.5 c -37,0 -118.23,-88.89 -217.5,-87.5 -102.9,1.441 -141.5,39 -161,53 -19.5,14 -115,90.073 -188.5,-2.5 -73.5,-92.573 -123.5,-147.5 -195,-99 -71.5,48.5 -99.82,-99.2102 -156.5,-146 -78.72,-64.9851 -209.88,71.2197 -284.3,174.755 -49.02,68.193 -126.87,150.324 -262.74,17.421 C 1450.53,127.595 1243.45,407.374 1101,334 997.602,280.739 1014.92,253 936,253 833.602,253 773.499,379 693,379 c -80.5,0 -95,-43.5 -124,-93.5 -29,-50 -142.5,-72 -204.5,-34 -62,38 -125.5,46 -176.5,29.5 C 137,264.5 66.9999,249 0.999953,249" stroke="#FFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5, 5" />
                </svg>
            </div>
            <div trace-line offset-timing="250" class="svg-wrapper" id="blue-line">
                <svg width="3003" height="358" viewBox="0 0 3003 358" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3001.03 264C2962.53 264 2949.03 244 2902.03 225C2855.03 206 2740.03 207.091 2722.03 212C2704.03 216.909 2661.03 213.5 2579.53 272.5C2498.03 331.5 2468.53 277 2405.53 225C2342.53 173 2288.5 162.5 2222.5 200.5C2156.5 238.5 2150.5 67.5 2082.98 20.2451C1994.47 -41.7053 1886.59 64.3288 1806.81 172.439C1754.33 243.562 1617.9 312.736 1515.66 240.08C1413.41 167.425 1222.5 403.892 1061.19 325.627C963.803 278.378 916.819 234.949 845.026 253C757.526 275 767.418 318.634 707.026 344C646.634 369.366 601.526 350.993 591.058 300.901C580.591 250.809 488.526 230.5 416.026 234C343.526 237.5 276.526 344 193.526 308C110.526 272 123.026 250.5 1.02587 248.5" stroke="#1394D5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5" />
                    <path class="mask" d="M3001.03 264C2962.53 264 2949.03 244 2902.03 225C2855.03 206 2740.03 207.091 2722.03 212C2704.03 216.909 2661.03 213.5 2579.53 272.5C2498.03 331.5 2468.53 277 2405.53 225C2342.53 173 2288.5 162.5 2222.5 200.5C2156.5 238.5 2150.5 67.5 2082.98 20.2451C1994.47 -41.7053 1886.59 64.3288 1806.81 172.439C1754.33 243.562 1617.9 312.736 1515.66 240.08C1413.41 167.425 1222.5 403.892 1061.19 325.627C963.803 278.378 916.819 234.949 845.026 253C757.526 275 767.418 318.634 707.026 344C646.634 369.366 601.526 350.993 591.058 300.901C580.591 250.809 488.526 230.5 416.026 234C343.526 237.5 276.526 344 193.526 308C110.526 272 123.026 250.5 1.02587 248.5" stroke="#FFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5" />
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="basic-info sec-md sec-color">
    <div waypoint class="container-xxl">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h2>Welcome, <br>
                    I'm <span class="fw-bold">James Elder</span>
                </h2>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="row first-set">
                    <div class="col-sm">
                        <div waypoint broadcast="basic-info" class="word-container">
                            <h3>18+ years of experience</h3>
                            <p>From startup to established company, agile or waterfall, small or large teams, flexible schedule or looming deadline, I have the experience needed to give each product the care it needs.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div waypoint delay="200" connect="basic-info" class="word-container">
                            <h3>How it works matters</h3>
                            <p>User experience is more than just a good looking interface. I work with stakeholders to help identify product features people are going to love. Everything working in harmony takes a product from good to great!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row second-set">
                    <div class="col-sm">
                        <div waypoint delay="400" connect="basic-info" class="word-container">
                            <h3>Organized &amp; delivery-minded</h3>
                            <p>Great products need to ship. I’m just as comfortable with tools like Aha, Jira, or Azure DevOps as I am with design tools. I help teams stay inspired and motivated to deliver on-time without sacrificing quality.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div waypoint delay="600" connect="basic-info" class="word-container">
                            <h3>I can speak { code } too</h3>
                            <p>Having been on the development side, I understand how things get built. This means that not only can I speak directly to developers, but I’m also able to translate technical and challenging topics to stakeholders in clear and easy terms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section waypoint class="process-leadership sec-md">
    <div class="vert-divider"></div>
    <div class="container-xxl">
        <div class="row">
            <div class="process-box col-sm-12 col-md-6 col-lg-4 offset-lg-1">
                <h2>Define. Measure. Continually iterate.</h2>
                <p>When you combine a strong vision, with a deep understanding of your user’s needs and desires, you’re much more likely to have a successful outcome. Every product is different, so I customize my design process to match. Discover how I help companies get exciting business outcomes. </p>
                <a href="#/process" class="btn btn-outline-primary">My design process</a>
            </div>
            <div class="leadership-box col-sm-12 col-md-6 col-lg-4 offset-lg-2 mt-5 mt-md-0">
                <h2>Design is fun! <br> Work should be too.</h2>
                <p>It takes the full team effort, working together across the organization, to get the job done. Learn how I inspire, motivate, and encourage teams of all sizes to create their best work and gain new skills and abilities, all while having fun doing it. </p>
                <a href="#/leadership" class="btn btn-outline-primary">How I lead teams</a>
            </div>
        </div>
    </div>
</section>
<div class="horz-divider"></div>
<section class="recent-work sec-md">
    <div class="container-xxl">
        <div ng-if="vm.workList.length > 0" waypoint broadcast="work-item" class="row">
            <h2 class="text-center">Recent Work</h2>
            <div waypoint connect="work-item" delay="{{$index * 200}}" data-ng-repeat="item in vm.workList | limitTo: vm.itemLimit as results" class="slide work-item col-sm-12 col-md-6 col-lg-3">
                <a class="work-item-link" href="#/work/{{item.url}}">
                    <div class="work-item-image" ng-style="{'background-image': 'url(content/images/previews/' + item.thumbnail + '.jpg)'}">
                        <button type="button" class="btn btn-outline-secondary">View project</button>
                        <div class="background-cover"></div>
                    </div>
                    <div class="work-item-content">
                        <h5>{{item.title}}</h5>
                        <h6>{{item.name}}</h6>
                    </div>

                </a>
            </div>
        </div>
        <div class="button-container text-center">
            <a href="#/work" class="btn btn-outline-primary">See more work</a>
        </div>

    </div>
</section>
<section class="about-me sec-md sec-color">
    <div waypoint class="container-xxl">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-10 col-lg-6 text-center">
                <h2>About Me</h2>
                <p>I've been involved in design and development for over 15 years and I love designing experiences that engage and delight users. From mobile apps to web sites, and everything in between, each day I work on designing solutions across a multitude of browsers and devices. I'm energetic and passionate about creating amazing experiences and I'm also good at giving high-fives. </p>
                <a href="#/about" class="btn btn-outline-secondary">Get to know me</a>
            </div>
        </div>
    </div>
</section>

